.hemakumar {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 55px;
    font-weight: bolder;
    font-style: italic;
    color: chartreuse;
    text-align: center;
}


.app {
    width: 1000px;
    background: yellow;
    margin: 0  auto;
    text-align: center;
}

.red {
    background: red;
    height: 100px;
   
}


.blue {
    background: green;
    height: 100px;
}

.green {
    background: rosybrown;
    height: 100px;
}
